.avatar-circle {
    width: 30px;
    height: 30px;
    font-size: 10px;
    padding: 9px;
    line-height: 2;
    background-color: lightslategrey;
    color: white;
    margin-right: 5px;
    border-radius: 100%;
    text-align: justify;
    align-items: center;
}