.Table {
    font-size: x-small;
}
.Table table {
    margin: 0;
    padding: 0;
    border: 1px solid black;
}

/* tr {
    display: flex;
} */

tr:hover {
    background-color: lightblue;
    cursor:pointer;
}

th {
    margin: 0;
    padding: 5px;
    background-color: slategray;
    color: white;
}

.Table td {
    padding: 3px;
    width: max-content;
}

td .span-item {
  background-color: lightslategrey;
  color: white;
  border-radius: 15px;
  padding: 3px; 
  margin: 2px;
  font-size: x-small;
}

.User-container {
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 100px;
    height: 100%;
    width: 100%;
    display: block;
    justify-content: center;
}

.button {
    cursor: pointer;
}

.filter-field {
    margin: 10px;
    padding: 5px;
}