.header {
  position: fixed;
  height: 50px;
  width: 100%;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
  background-color: #3e5195;
  color: #fff;
  box-shadow: 10px 5px 5px lightgrey;
}

.logo-container {
  height: 100%;
  width: 100px;
  padding: 25px;
}

.options {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 40px;
}

.option {
  margin-left: 10px;
  cursor: pointer;
  color: white;
}
