.sign-in {
  width: 380px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.sign-in .title {
    margin: 10px 0;
    align-items: center;
  }

.sign-in .buttons {
    /* width: 80% !important; */
    display: flex;
    justify-content: space-between;

  }


.container {
    margin-left: 0;
    margin-right: 0;
    padding-top: 100px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}